<ol>
   <li id="fn-1">
    Quinty, F., & Rochefort, L. (2003). <em>Peatland Restoration Guide, second edition. </em>Canadian Sphagnum Peat Moss Association and New Brunswick Department of Natural Resources and Energy. Québec, Québec.
    <a href="#ref-1-origin">↑ Assessment</a>
    <a href="#ref-1b-origin">↑ </a>
    <a href="#ref-1c-origin">↑ </a>
    <a href="#ref-1d-origin">↑ Hydrology</a>
    <a href="#ref-1e-origin">↑ </a>
    <a href="#ref-1f-origin">↑ Vegetation</a>
    <a href="#ref-1g-origin">↑ Goals</a>
    <a href="#ref-1h-origin">↑ Plan</a>
  </li>
  <li id="fn-2">
    Schumann, M., & Joosten, H. (2008). <em>Global peatland restoration: A manual for policy makers and site managers. </em>Institute of Botany and Landscape Ecology, University of Greifswald. 
    <a href="#ref-2-origin">↑ Assessment</a>
    <a href="#ref-2b-origin">↑ </a>
    <a href="#ref-2c-origin">↑ </a>
    <a href="#ref-2d-origin">↑ Hydrology</a>
  </li>
  <li id="fn-3">
     Birks, H. J. B. (2008). <em>Paleoecology. In Encyclopedia of Ecology (pp. 2623–2634). </em>Elsevier. https://doi.org/10.1016/B978-008045405-4.00525-5 
    <a href="#ref-3-origin">↑ back</a>
  </li>
  <li id="fn-4">
      Gann G.D., McDonald T., Walder B., Aronson J., Nelson C.R., Jonson J., Hallett J.G., Eisenberg C., Guariguata M.R., Liu J., Hua F., Echeverría C., Gonzales E., Shaw N., Decleer K. & Dixon K.W. (2019). <em>International principles and standards for the practice of ecological restoration. Second edition. </em>Restoration Ecology 27 (S1). https://doi.org/10.1111/rec.13035. 
    <a href="#ref-4-origin">↑ Assesment</a>
    <a href="#ref-4b-origin">↑ Planning</a>
    <a href="#ref-4c-origin">↑ Goals</a>
    <a href="#ref-4d-origin">↑ </a>
  </li>
  <li id="fn-5">
    Gorham E. & Rochefort L. (2003). <em>Peatland restoration: A brief assessment with special reference to Sphagnum bogs. </em>Wetlands Ecology and Management 11 (1): 109_119. https://doi.org/10.1023/A:1022065723511. 
    <a href="#ref-5-origin">↑ back</a>
    <a href="#ref-5b-origin">↑ back</a>
  </li>
 <li id="fn-6">
    Eiseltová, M. (2010). <em>Restoration of Lakes, Streams, Floodplains, and Bogs in Europe: Principles and Case Studies (Vol. 3). </em>Springer Netherlands. https://doi.org/10.1007/978-90-481-9265-6 
    <a href="#ref-6-origin">↑ back</a>
  </li>
 <li id="fn-7">
    Lamers, L. P. M., Vile, M. A., Grootjans, A. P., Acreman, M. C., van Diggelen, R., Evans, M. G., Richardson, C. J., Rochefort, L., Kooijman, A. M., Roelofs, J. G. M., & Smolders, A. J. P. (2015). <em>Ecological restoration of rich fens in Europe and North America: From trial and error to an evidence-based approach. </em>Biological Reviews, 90(1), Article 1. (WOS:000348415500012). https://doi.org/10.1111/Brv.12102
    <a href="#ref-7-origin">↑ Assessment</a>
    <a href="#ref-7b-origin">↑ Peat</a>
    <a href="#ref-7c-origin">↑ Goals</a>
  </li>
  <li id="fn-8">
    Convention on Wetlands. (2021). <em>Global guidelines for peatland rewetting and restoration. Ramsar Technical Report No. 11. </em>Gland, Switzerland: Secretariat of the Convention on Wetlands. 
    <a href="#ref-8-origin">↑ Assessment</a>
    <a href="#ref-8b-origin">↑ </a>
    <a href="#ref-8c-origin">↑ Hydrology</a>
    <a href="#ref-8d-origin">↑ </a>
    <a href="#ref-8e-origin">↑ Peat</a>
    <a href="#ref-8f-origin">↑ </a>
    <a href="#ref-8g-origin">↑ </a>
    <a href="#ref-8h-origin">↑ </a>
    <a href="#ref-8i-origin">↑ </a>
    <a href="#ref-8j-origin">↑ Planning</a>
    <a href="#ref-8k-origin">↑ Goals</a>
    <a href="#ref-8l-origin">↑ </a>
    <a href="#ref-8m-origin">↑ </a>
  </li>
  <li id="fn-9">
    Minayeva, T. Yu., Bragg, O. M., Geography, University of Dundee, Scotland, UK, Sirin, A. A., & Institute of Forest Science, Russian Academy of Sciences, Uspenskoye, Russian Federation. (2017). <em>Towards ecosystem-based restoration of peatland biodiversity. </em>Mires and Peat, 19, 01. https://doi.org/10.19189/MAP.2013.OMB.150 
    <a href="#ref-9-origin">↑ back</a>
  </li>
 <li id="fn-10">
  Pakalne M., Etzold J., Ilomets M., Jarašius L., Pawlaczyk P., Bociag K., Chlost I., Cieśliński R., Gos K., Libauers K., Pajula R., Purre A.-H., Sendzikaite J., Strazdina L., Truus L., Zableckis N., Jurema L. & Kirschey T. (2021). <em>Best Practice Book for Peatland Restoration and Climate Change Mitigation. </em>Experiences from LIFE Peat Restore Project. 
    <a href="#ref-10-origin">↑ Assesment</a>
    <a href="#ref-10b-origin">↑ Case study</a>
  </li>
 <li id="fn-11">
  Similä, M., Aapala, K., & Penttinen, J. (2014). <em>Ecological restoration in drained peatlands: Best practices from Finland. </em>Metsähallitus Natural Heritage Services. 
    <a href="#ref-11-origin">↑ back</a>
  </li>
  <li id="fn-12">
  Parish, F., Sirin, A., Charman, D., Joosten, H., Minayeva, T., Silvius, M., & Stringer, L. (2008). <em>Assessment on Peatlands, Biodiversity and Climate Change: Main Report. </em>(L. Stringer, Ed.). Global Environment Centre, Kuala Lumpur and Wetlands International, Wageningen. 
    <a href="#ref-12-origin">↑ back</a>
  </li>
  <li id="fn-13">
  Thom T., Hanlon A., Lindsay R., Richards J., Stoneman R. & Brooks S. (2019). <em>Conserving Bogs: The Management Handbook. </em>IUCN UK Peatland Programme. 
    <a href="#ref-13-origin">↑ back</a>
  </li>
 <li id="fn-14">
  Bufkova, I., Krenova, Z., & Bastl, M. (2021). <em>Ten years of changes in hydrology and vegetation in montane mires of temperate zone in Central Europe (Šumava National Park). </em>27, 17_48. 
    <a href="#ref-14-origin">↑ back</a>
  </li>
   <li id="fn-15">
  Dajdok, Z., Nowak, A., Danielewicz, W., Kujawa, P.-J., & Bena, W. (2011). <em>Invasive Alien Species Fact Sheet Spiraea tomentosa. </em>NOBANIS. 
    <a href="#ref-15-origin">↑ back</a>
  </li>
   <li id="fn-16">
  Bonnett, S. A. F., Ross, S., Linstead, C., & Maltby, E. (2009). <em>A review of techniques for monitoring the success of peatland restoration. </em>Natural England Commissioned Report, NECR086. Natural England. 
    <a href="#ref-16-origin">↑ back</a>
  </li>
 <li id="fn-17">
  Herb, A. M., & Finlayson, C. M. (2023). <em>Investing in wetland restoration: Practical guidance and looking ahead. In P. A. Gell, N. C. Davidson, & C. M. Finlayson (Eds.), Ramsar Wetlands (pp. 377–415). </em>Elsevier. https://doi.org/10.1016/B978-0-12-817803-4.00004-8 
    <a href="#ref-17-origin">↑ back</a>
    <a href="#ref-17b-origin">↑ </a>
  </li>
  <li id="fn-18">
  Aapala K. & Similä M. (2013). <em>Handbook for the restoration of drained peatlands. </em>Nature Protection Publications of Metsähallitus. Series B 188. Metsähallitus, Natural Heritage Services, Vantaa, 301 pp. 
    <a href="#ref-18-origin">↑ back</a>
  </li>  
  <li id="fn-19">
    Mackin, F., Barr, A., Rath, P., Eakin, M., Ryan, J., Jeffrey, R., & Fernandez Valverde, F. (2017). <em>Best practice in raised bog restoration in Ireland (Irish Wildlife Manuals). </em>National Parks and Wildlife Service, Department of Culture, Heritage and the Gaeltacht. 
    <a href="#ref-19-origin">↑ back</a>
  </li>
   <li id="fn-20">
    Nelson C.R., Hallett J.G., Romero Montoya A.E., Andrade A., Besacier C., Boerger V., Bouazza K., Chazdon R., Cohen-Shacham E., Danano D., Diederichsen A., Fernandez Y., Gann G.D., Gonzales E.K., Gruca M., Guariguata M.R., Gutierrez V., Hancock B., Innecken P., Katz S.M., McCormick R., Moraes L.F.D., Murcia C., Nagabhatla N., Pouaty Nzembialela D., Rosado-May F.J., Shaw K., Swiderska K., Vasseur L., Venkataraman R., Walder B., Wang Z. & Weidlich E.W.A. (2024). <em>Standards of practice to guide ecosystem restoration. </em>FAO; SER; IUCN; https://doi.org/10.4060/cc9106en. 
    <a href="#ref-20-origin">↑ back</a>
  </li>
   <li id="fn-21">
    Alm, J., Lohila, A., Tuittila, E. S., Capstun, V., Laine, J., & Minkkinen, K. (2020). <em>Methane and nitrous oxide emissions from pristine and managed peatlands: Review and synthesis for temperate and boreal zones. </em>Biogeosciences, 17(21), 5381_5414. 
    <a href="#ref-21-origin">↑ back</a>
  </li>
   <li id="fn-22">
    Šefferová Stanová, V. (2025). <em> Mires: bogs and fens. In: C. Olmeda & V. Šefferová Stanová (eds.), Technical guidelines for assessing and monitoring the condition of Annex I habitat types of the Directive 92/43/EEC. </em>Luxembourg: Publications Office of the European Union, ISBN 978-92-68-32008-2. https://doi.org/10.2779/2320274 
    <a href="#ref-22-origin">↑ back</a>
  </li>
   <li id="fn-23">
    Sundberg S. (2012). <em>Quick target vegetation recovery after restorative shrub removal and mowing in a calcareous fen. </em>Restoration Ecology 20 (3): 331_338. https://doi.org/10.1111/j.1526-100X.2011.00782.x. 
    <a href="#ref-23-origin">↑ back</a>
  </li>
   <li id="fn-24">
    Kotowski W., Jabłońska E. & Bartoszuk H. (2013). <em>Conservation management in fens: Do large tracked mowers impact functional plant diversity? </em>Biological Conservation 167: 292_297. https://doi.org/10.1016/j.biocon.2013.08.021. 
    <a href="#ref-24-origin">↑ back</a>
  </li>
  </li>
   <li id="fn-25">
    Similä, M., Aapala, K., & Penttinen, J. (2014). <em>Ecological restoration in drained peatlands: Best practices from Finland. </em>Metsähallitus Natural Heritage Services. 
    <a href="#ref-25-origin">↑ back</a>
  </li>
</ol>