<ol>
  <li id="fn-1">
    Quinty, F., & Rochefort, L. (2003). <em>Peatland Restoration Guide, second edition.</em> Canadian Sphagnum Peat Moss Association and New Brunswick Department of Natural Resources and Energy. Québec, Québec.
    <a href="#ref-1g-origin">↑ Planning and design</a>
    <a href="#ref-1h-origin">↑ Goals and objectives</a>
    <a href="#ref-1i-origin">↑ Restoration plan</a>
    <a href="#ref-1j-origin">↑ Baseline monitoring</a>
  </li>
  <li id="fn-4">
    Gann, G.D., McDonald, T., Walder, B., Aronson, J., Nelson, C.R., et al. (2019). International principles and standards for the practice of ecological restoration. Second edition. <em>Restoration Ecology</em> 27 (S1). https://doi.org/10.1111/rec.13035
    <a href="#ref-4b-origin">↑ Planning and design</a>
    <a href="#ref-4c-origin">↑ Goals</a>
    <a href="#ref-4d-origin">↑ Reference model</a>
    <a href="#ref-4e-origin">↑ Restoration plan — adaptive management</a>
    <a href="#ref-4f-origin">↑ Baseline monitoring</a>
  </li>
  <li id="fn-7">
    Lamers, L. P. M., Vile, M. A., Grootjans, A. P., et al. (2015). Ecological restoration of rich fens in Europe and North America: From trial and error to an evidence-based approach. <em>Biological Reviews</em>, 90(1). https://doi.org/10.1111/Brv.12102
    <a href="#ref-7c-origin">↑ Goals and objectives</a>
  </li>
  <li id="fn-8">
    Convention on Wetlands. (2021). <em>Global guidelines for peatland rewetting and restoration.</em> Ramsar Technical Report No. 11. Gland, Switzerland: Secretariat of the Convention on Wetlands.
    <a href="#ref-8j-origin">↑ Stakeholder engagement</a>
    <a href="#ref-8k-origin">↑ Goals — consultation</a>
    <a href="#ref-8l-origin">↑ Goals — common themes</a>
    <a href="#ref-8m-origin">↑ Prioritisation</a>
  </li>
  <li id="fn-10">
    Pakalne, M., Etzold, J., Ilomets, M., et al. (2021). <em>Best Practice Book for Peatland Restoration and Climate Change Mitigation — Experiences from LIFE Peat Restore Project.</em>
    <a href="#ref-10b-origin">↑ Stakeholder engagement — case study</a>
  </li>
  <li id="fn-11">
    Similä, M., Aapala, K., & Penttinen, J. (2014). <em>Ecological restoration in drained peatlands: Best practices from Finland.</em> Metsähallitus Natural Heritage Services.
    <a href="#ref-11b-origin">↑ Prioritisation</a>
  </li>
  <li id="fn-17">
    Mackin, F., Barr, A., Rath, P., et al. (2017). <em>Best practice in raised bog restoration in Ireland.</em> Irish Wildlife Manuals. National Parks and Wildlife Service.
    <a href="#ref-17-origin">↑ Goals — objectives</a>
    <a href="#ref-17b-origin">↑ Goals — consultation</a>
  </li>
  <li id="fn-19">
    Mackin, F., Barr, A., Rath, P., et al. (2017). <em>Best practice in raised bog restoration in Ireland.</em> Irish Wildlife Manuals. National Parks and Wildlife Service.
    <a href="#ref-19-origin">↑ Planning and design</a>
    <a href="#ref-19b-origin">↑ Restoration plan</a>
    <a href="#ref-19c-origin">↑ Restoration plan (living document)</a>
  </li>
</ol>
