<ol>
  <li id="fn-1">
    Quinty, F., & Rochefort, L. (2003). <em>Peatland Restoration Guide, second edition.</em> Canadian Sphagnum Peat Moss Association and New Brunswick Department of Natural Resources and Energy. Québec, Québec.
    <a href="#ref-1-origin">↑ Assessment</a>
    <a href="#ref-1b-origin">↑ Pre-degradation conditions</a>
    <a href="#ref-1c-origin">↑ Historical records</a>
    <a href="#ref-1d-origin">↑ Water quality</a>
    <a href="#ref-1e-origin">↑ Peat</a>
    <a href="#ref-1f-origin">↑ Seed bank</a>
  </li>
  <li id="fn-2">
    Schumann, M., & Joosten, H. (2008). <em>Global peatland restoration: A manual for policy makers and site managers.</em> Institute of Botany and Landscape Ecology, University of Greifswald.
    <a href="#ref-2-origin">↑ Assessment</a>
    <a href="#ref-2b-origin">↑ Historical records</a>
    <a href="#ref-2c-origin">↑ Current conditions</a>
    <a href="#ref-2d-origin">↑ Hydrology</a>
  </li>
  <li id="fn-3">
    Birks, H. J. B. (2008). Paleoecology. In <em>Encyclopedia of Ecology</em> (pp. 2623–2634). Elsevier. https://doi.org/10.1016/B978-008045405-4.00525-5
    <a href="#ref-3-origin">↑ Pre-degradation conditions</a>
  </li>
  <li id="fn-4">
    Gann, G.D., McDonald, T., Walder, B., Aronson, J., Nelson, C.R., et al. (2019). International principles and standards for the practice of ecological restoration. Second edition. <em>Restoration Ecology</em> 27 (S1). https://doi.org/10.1111/rec.13035
    <a href="#ref-4-origin">↑ Historical records</a>
  </li>
  <li id="fn-5">
    Gorham, E., & Rochefort, L. (2003). Peatland restoration: A brief assessment with special reference to Sphagnum bogs. <em>Wetlands Ecology and Management</em> 11(1): 109–119. https://doi.org/10.1023/A:1022065723511
    <a href="#ref-5-origin">↑ Pre-degradation conditions</a>
    <a href="#ref-5b-origin">↑ Hydrology (catchment area)</a>
  </li>
  <li id="fn-6">
    Eiseltová, M. (2010). <em>Restoration of Lakes, Streams, Floodplains, and Bogs in Europe: Principles and Case Studies</em> (Vol. 3). Springer Netherlands. https://doi.org/10.1007/978-90-481-9265-6
    <a href="#ref-6-origin">↑ Pre-degradation conditions</a>
  </li>
  <li id="fn-7">
    Lamers, L. P. M., Vile, M. A., Grootjans, A. P., et al. (2015). Ecological restoration of rich fens in Europe and North America: From trial and error to an evidence-based approach. <em>Biological Reviews</em>, 90(1). https://doi.org/10.1111/Brv.12102
    <a href="#ref-7-origin">↑ Pre-degradation conditions</a>
    <a href="#ref-7b-origin">↑ Peat — internal eutrophication</a>
  </li>
  <li id="fn-8">
    Convention on Wetlands. (2021). <em>Global guidelines for peatland rewetting and restoration.</em> Ramsar Technical Report No. 11. Gland, Switzerland: Secretariat of the Convention on Wetlands.
    <a href="#ref-8-origin">↑ Current conditions</a>
    <a href="#ref-8b-origin">↑ Hydrology (primary problem)</a>
    <a href="#ref-8c-origin">↑ Hydrology (water table)</a>
    <a href="#ref-8d-origin">↑ Hydrology (catchment area)</a>
    <a href="#ref-8e-origin">↑ Peat (nutrient-rich)</a>
    <a href="#ref-8f-origin">↑ Peat (fast-growing species)</a>
    <a href="#ref-8g-origin">↑ Vegetation (indicator species)</a>
    <a href="#ref-8h-origin">↑ Seed bank</a>
    <a href="#ref-8i-origin">↑ Stressors</a>
  </li>
  <li id="fn-9">
    Minayeva, T. Yu., Bragg, O. M., Sirin, A. A. (2017). Towards ecosystem-based restoration of peatland biodiversity. <em>Mires and Peat</em>, 19, 01. https://doi.org/10.19189/MAP.2013.OMB.150
    <a href="#ref-9-origin">↑ Current conditions</a>
  </li>
  <li id="fn-10">
    Pakalne, M., Etzold, J., Ilomets, M., et al. (2021). <em>Best Practice Book for Peatland Restoration and Climate Change Mitigation — Experiences from LIFE Peat Restore Project.</em>
    <a href="#ref-10-origin">↑ Hydrology (water table)</a>
  </li>
  <li id="fn-11">
    Similä, M., Aapala, K., & Penttinen, J. (2014). <em>Ecological restoration in drained peatlands: Best practices from Finland.</em> Metsähallitus Natural Heritage Services.
    <a href="#ref-11-origin">↑ Hydrology (catchment area)</a>
  </li>
  <li id="fn-12">
    Parish, F., Sirin, A., Charman, D., Joosten, H., Minayeva, T., Silvius, M., & Stringer, L. (2008). <em>Assessment on Peatlands, Biodiversity and Climate Change: Main Report.</em> Global Environment Centre and Wetlands International.
    <a href="#ref-12-origin">↑ Water quality</a>
  </li>
  <li id="fn-13">
    Thom, T., Hanlon, A., Lindsay, R., Richards, J., Stoneman, R., & Brooks, S. (2019). <em>Conserving Bogs: The Management Handbook.</em> IUCN UK Peatland Programme.
    <a href="#ref-13-origin">↑ Peat (parameters)</a>
  </li>
  <li id="fn-14">
    Bufkova, I., Krenova, Z., & Bastl, M. (2021). Ten years of changes in hydrology and vegetation in montane mires of temperate zone in Central Europe (Šumava National Park). 27, 17–48.
    <a href="#ref-14-origin">↑ Vegetation (drier conditions)</a>
  </li>
  <li id="fn-15">
    Dajdok, Z., Nowak, A., Danielewicz, W., Kujawa, P.-J., & Bena, W. (2011). Invasive Alien Species Fact Sheet <em>Spiraea tomentosa.</em> NOBANIS.
    <a href="#ref-15-origin">↑ Vegetation — invasive species</a>
  </li>
  <li id="fn-16">
    Bonnett, S. A. F., Ross, S., Linstead, C., & Maltby, E. (2009). <em>A review of techniques for monitoring the success of peatland restoration.</em> Natural England Commissioned Report, NECR086. Natural England.
    <a href="#ref-16-origin">↑ Von Post scale</a>
  </li>
</ol>
