<ol>
  <li id="fn-1">
    Herb A. M. & Finlayson C. M. (2023).<em>Investing in wetland restoration: Practical guidance and looking ahead.</em>In P. A. Gell, N. C. Davidson, & C. M. Finlayson (Eds.), Ramsar Wetlands (pp. 377–415). Elsevier. https://doi.org/10.1016/B978-0-12-817803-4.00004-8 
    <a href="#ref-1-origin">↑ back</a>
    <a href="#ref-1b-origin">↑ </a>
  </li>

    <li id="fn-2">
    Stelk, M., Christie, J., Weber, R., R.  Lewis III, R., Micacchion, M., Harcarik, T., Cowan, L., Famous, N., Teal, J., Bostwick, P., Skidmore, P., Pruitt, B., Urban, L., & Merritt, J. (2017).<em>Wetland Restoration: Contemporary Issues and Lessons Learned. </em>Association of State Wetland  Managers. 
    <a href="#ref-2-origin">↑ back</a>
  </li>

    <li id="fn-3">
    Parry, L. E., Holden, J., & Chapman, P. J. (2014).<em>Restoration of blanket peatlands.</em>Journal of Environmental Management, 133, 193–205. https://doi.org/10.1016/j.jenvman.2013.11.033 
    <a href="#ref-3-origin">↑ Human factor</a>
    <a href="#ref-3b-origin">↑ Logistics</a>
  </li>

    <li id="fn-4">
    Salm, J.-O., Remm, L., Haljasorg, M., Karofeld, E., Kohv, K., Kohv, M., Kraut, A., Krumm, L., Meriste, M., Oro, L., Pungas-Kohv P, Sellis, U., & Sikk, K. (2022).<em>Restoration of mire habitats: Experiences from the project “conservation and restoration of mire habitats” Handbook.</em>Estonian Fund for Nature. 
    <a href="#ref-4-origin">↑ back</a>
  </li>

    <li id="fn-5">
    Similä, M., Aapala, K., & Penttinen, J. (2014). <em>Ecological restoration in drained peatlands: Best practices from Finland.</em>Metsähallitus Natural Heritage Services. 
    <a href="#ref-5-origin">↑ back</a>
  </li>

    <li id="fn-6">
    Colomina, D., Cortina, J., Melero, M., Cagide, N., Gann, G., & and collaborators. (2023).<em>WWF-SER standards for the certification of ecological projects for forests in Spain.</em>Version 4.0. SER and WWF Spain. 
    <a href="#ref-6-origin">↑ back</a>
  </li>

    <li id="fn-7">
    Gann G.D., McDonald T., Walder B., Aronson J., Nelson C.R., Jonson J., Hallett J.G., Eisenberg C., Guariguata M.R., Liu J., Hua F., Echeverría C., Gonzales E., Shaw N., Decleer K. & Dixon K.W. (2019).<em>International principles and standards for the practice of ecological restoration.</em>Second edition. Restoration Ecology 27 (S1). https://doi.org/10.1111/rec.13035. 
    <a href="#ref-7-origin">↑ back</a>
  </li>

    <li id="fn-8">
    Convention on Wetlands. (2021).<em>Global guidelines for peatland rewetting and restoration.</em>Ramsar Technical Report No. 11. Gland, Switzerland: Secretariat of the Convention on Wetlands.
    <a href="#ref-8-origin">↑ back</a>
  </li>

  <li id="fn-9">
    Schumann, M., & Joosten, H. (2008).<em>Global peatland restoration: A manual for policy makers and site managers.</em>Institute of Botany and Landscape Ecology, University of Greifswald.
    <a href="#ref-9-origin">↑ back</a>
  </li>
  
</ol>
