<ol>
  <li id="fn-1">
    Gann, G.D., McDonald, T., Walder, B., Aronson, J., Nelson, C.R., et al. (2019). International principles and standards for the practice of ecological restoration. Second edition. <em>Restoration Ecology</em> 27 (S1). https://doi.org/10.1111/rec.13035
    <a href="#ref-1-origin">↑ Monitoring — BACI</a>
    <a href="#ref-1b-origin">↑ Evaluation — 5-star</a>
    <a href="#ref-1c-origin">↑ Ongoing management</a>
    <a href="#ref-1d-origin">↑ Adaptive management</a>
  </li>
  <li id="fn-2">
    Gorham, E., & Rochefort, L. (2003). Peatland restoration: A brief assessment with special reference to Sphagnum bogs. <em>Wetlands Ecology and Management</em> 11(1): 109–119. https://doi.org/10.1023/A:1022065723511
    <a href="#ref-2-origin">↑ Monitoring — long-term</a>
  </li>
  <li id="fn-3">
    Convention on Wetlands. (2021). <em>Global guidelines for peatland rewetting and restoration.</em> Ramsar Technical Report No. 11. Gland, Switzerland: Secretariat of the Convention on Wetlands.
    <a href="#ref-3-origin">↑ Monitoring</a>
    <a href="#ref-3b-origin">↑ Monitoring (robust plan)</a>
    <a href="#ref-3c-origin">↑ Monitoring (funds)</a>
    <a href="#ref-3d-origin">↑ Treatment monitoring</a>
    <a href="#ref-3e-origin">↑ Monitoring considerations</a>
    <a href="#ref-3f-origin">↑ Evaluation</a>
    <a href="#ref-3g-origin">↑ Water control structures</a>
    <a href="#ref-3h-origin">↑ Passive restoration</a>
  </li>
  <li id="fn-4">
    Pakalne, M., Etzold, J., Ilomets, M., et al. (2021). <em>Best Practice Book for Peatland Restoration and Climate Change Mitigation — Experiences from LIFE Peat Restore Project.</em>
    <a href="#ref-4-origin">↑ Monitoring design</a>
  </li>
  <li id="fn-5">
    Thom, T., Hanlon, A., Lindsay, R., Richards, J., Stoneman, R., & Brooks, S. (2019). <em>Conserving Bogs: The Management Handbook.</em> IUCN UK Peatland Programme.
    <a href="#ref-13b-origin">↑ Monitoring</a>
  </li>
  <li id="fn-6">
    Bonnett, S. A. F., Ross, S., Linstead, C., & Maltby, E. (2009). <em>A review of techniques for monitoring the success of peatland restoration.</em> Natural England Commissioned Report, NECR086. Natural England.
    <a href="#ref-6-origin">↑ Monitoring (robust plan)</a>
    <a href="#ref-6b-origin">↑ Monitoring — parameters</a>
    <a href="#ref-6c-origin">↑ Monitoring — replicates</a>
  </li>
  <li id="fn-7">
    Nelson, C.R., Hallett, J.G., Romero Montoya, A.E., et al. (2024). <em>Standards of practice to guide ecosystem restoration.</em> FAO; SER; IUCN. https://doi.org/10.4060/cc9106en
    <a href="#ref-7-origin">↑ Monitoring</a>
    <a href="#ref-7b-origin">↑ Monitoring design (goals)</a>
    <a href="#ref-7c-origin">↑ Monitoring design (protocols)</a>
    <a href="#ref-7d-origin">↑ Monitoring design (long-term)</a>
    <a href="#ref-7e-origin">↑ Monitoring — BACI</a>
    <a href="#ref-7f-origin">↑ Data collection</a>
    <a href="#ref-7g-origin">↑ Data management</a>
    <a href="#ref-7h-origin">↑ Evaluation</a>
  </li>
  <li id="fn-8">
    Food and Agriculture Organization (FAO) (2020). <em>Peatlands mapping and monitoring – Recommendations and technical overview.</em> Rome. DOI: 10.4060/ca8200en
    <a href="#ref-8-origin">↑ Monitoring — parameters (resources)</a>
  </li>
  <li id="fn-9">
    Šefferová Stanová, V. (2025). Mires: bogs and fens. In: C. Olmeda & V. Šefferová Stanová (eds.), <em>Technical guidelines for assessing and monitoring the condition of Annex I habitat types of the Directive 92/43/EEC.</em> Luxembourg: Publications Office of the European Union. https://doi.org/10.2779/2320274
    <a href="#ref-9-origin">↑ Monitoring — parameters (protocols)</a>
    <a href="#ref-9b-origin">↑ Monitoring — table</a>
    <a href="#ref-9c-origin">↑ Monitoring considerations</a>
    <a href="#ref-9d-origin">↑ Evaluation</a>
  </li>
  <li id="fn-10">
    Sundberg, S. (2012). Quick target vegetation recovery after restorative shrub removal and mowing in a calcareous fen. <em>Restoration Ecology</em> 20(3): 331–338. https://doi.org/10.1111/j.1526-100X.2011.00782.x
    <a href="#ref-10-origin">↑ Preventative maintenance — shrub removal</a>
  </li>
  <li id="fn-11">
    Aapala, K., & Similä, M. (2013). <em>Handbook for the restoration of drained peatlands.</em> Nature Protection Publications of Metsähallitus. Series B 188. Metsähallitus, Natural Heritage Services, Vantaa.
    <a href="#ref-11-origin">↑ Preventative maintenance — seedlings</a>
    <a href="#ref-11b-origin">↑ Adaptive management — example</a>
  </li>
  <li id="fn-12">
    Kotowski, W., Jabłońska, E., & Bartoszuk, H. (2013). Conservation management in fens: Do large tracked mowers impact functional plant diversity? <em>Biological Conservation</em> 167: 292–297. https://doi.org/10.1016/j.biocon.2013.08.021
    <a href="#ref-12-origin">↑ Preventative maintenance — mowing</a>
  </li>
</ol>
