<ol>
  <li id="fn-1">
    Birds Directive (2009/147/EC). <em>Directive 2009/147/EC of the European Parliament and of the Council of 30 November 2009 on the conservation of wild birds (Codified version) </em>http://data.europa.eu/eli/dir/2009/147/oj  
    <a href="#ref-1-origin">↑ back</a>
    <a href="#ref-1b-origin">↑ </a>
  </li>
    <li id="fn-2">
    Habitat Directive (92/43/EEC). <em>Council Directive 92/43/EEC of 21 May 1992 on the conservation of natural habitats and of wild fauna and flora </em>http://data.europa.eu/eli/dir/1992/43/oj  
    <a href="#ref-2-origin">↑ back</a>
    <a href="#ref-2b-origin">↑ </a>
    <a href="#ref-2c-origin">↑ </a>
  </li>
    <li id="fn-3">
    Peters & von Unger (2017). <em>Peatlands in the EU Regulatory Environment. </em>BfN Schriften 454 - Peatlands in the EU Regulatory Environment | BFN 
    <a href="#ref-3-origin">↑ back</a>
  </li>
    <li id="fn-4">
    NRR (EU 2024/1991). <em>Regulation (EU) 2024/1991 of the European Parliament and of the Council of 24 June 2024 on nature restoration and amending Regulation (EU) 2022/869. </em>Regulation - EU - 2024/1991 - EN - EUR-Lex 
    <a href="#ref-4-origin">↑ back</a>
    <a href="#ref-4b-origin">↑ </a>
    <a href="#ref-4c-origin">↑ </a>
    <a href="#ref-4d-origin">↑ </a>
    <a href="#ref-4e-origin">↑ </a>
    <a href="#ref-4f-origin">↑ </a>
  </li>
    <li id="fn-5">
    WFD (2000/60/EC). <em>Directive 2000/60/EC of the European Parliament and of the Council of 23 October 2000 establishing a framework for Community action in the field of water policy. </em>http://data.europa.eu/eli/dir/2000/60/oj 
    <a href="#ref-5-origin">↑ back</a>
    <a href="#ref-5b-origin">↑ </a>
  </li>
    <li id="fn-6">
    EC (2022). <em>Factsheet - A greener and fairer CAP. </em>https://agriculture.ec.europa.eu/document/download/89b607ec-8a43-4073-bafd-f2493da7699e_en?filename=factsheet-newcap-environment-fairness_en.pdf 
    <a href="#ref-6-origin">↑ back</a>
    <a href="#ref-6b-origin">↑ back</a>
  </li>
    <li id="fn-7">
    EC (2025). <em>Assessment of integration of the financing needs for nature conservation in the 2021-2027 EU funding programmes </em>Final study report, Publications Office of the European Union, 2025, https://data.europa.eu/doi/10.2779/6099615 
    <a href="#ref-7-origin">↑ back</a>
    <a href="#ref-7b-origin">↑ back</a>
  </li>
    <li id="fn-8">
    Mathias (2022). <em>Financing mechanisms in Europe for restoring peatlands. An overview of the different financing opportunities existing for peatland restoration. </em>Interreg North-West Europe Carbon connects. Chambres d'agriculture Arc atlantique. Available online: Financing mechanisms in Europe for restoring peatlands. An overview of the different financing opportunities existing for peatland restoration. Fédération des Conservatoires d'espaces naturels FCEN 
    <a href="#ref-8-origin">↑ back</a>
  </li>
    <li id="fn-9">
    Anougmar, S., Fockaert, L., Michiel, K., Van Passel, S., Van Schoubroeck, S. (2025). <em>Could the new eco schemes replace the long-known agri-environmental measures? Evidence from two labeled discrete choice experiments. </em>Land Use Policy, Volume 153, 107525, ISSN 0264-8377,  https://doi.org/10.1016/j.landusepol.2025.107525. 
    <a href="#ref-9-origin">↑ back</a>
  </li>
    <li id="fn-10">
    Meier, J., Rouillard, J., Nyírő, F., Blackstock, K. L., & Matthews, K. B. (2025). <em>Restoring healthy rivers and wetlands: How can agricultural policies support the uptake of water resilient farming practices? </em>Zenodo. https://doi.org/10.5281/zenodo.18818538 
    <a href="#ref-10-origin">↑ back</a>
  </li>
    <li id="fn-11">
    LIFE Peat Restore (2017). <em>Restoring peatlands, sequestering carbon </em>(accessed on 1.05.2026.) Available online: https://life-peat-restore.eu/en/project/ 
    <a href="#ref-11-origin">↑ back</a>
  </li>
    <li id="fn-12">
    EC (2022b). <em>Financing Natura 2000. EU funding opportunities in 2021-2027. </em>Revised report May 2022, Publications Office of the European Union, https://data.europa.eu/doi/10.2779/724345 
    <a href="#ref-12-origin">↑ back</a>
    <a href="#ref-12b-origin">↑ </a>
    <a href="#ref-12c-origin">↑ </a>
  </li>
    <li id="fn-13">
    CINEA (2021). <em>Annex X to the Model LIFE Grant Agreement Financial and Administrative Guidelines. </em>Model Grant Agreement. Annex X Financial and administrative guidelines_2021_07.pdf  
    <a href="#ref-13-origin">↑ back</a>
  </li>
  </li>
    <li id="fn-14">
    Biodiversity Information System for Europe (BISE) (2026). <em>Nature Restoration Regulation Reference Portal. Modified 04 May 2026. </em>Available online: Nature Restoration Regulation Reference Portal | Nature restoration | Biodiversity Information System for Europe  
    <a href="#ref-14-origin">↑ back</a>
  </li>
  </li>
    <li id="fn-15">
    DG Clima (2026). <em>Carbon Removals and Carbon Farming. </em>Available online: Carbon Removals and Carbon Farming - Climate Action - European Commission  
    <a href="#ref-15-origin">↑ back</a>
  </li>
  </li>
    <li id="fn-16">
    EC (2022c). <em>Find your EU funding programme for the environment. Supporting the environment under the 2021_2027 multiannual financial framework and NextGenerationEU. </em>Publications Office of the European Union, 2022, https://data.europa.eu/doi/10.2779/768079  
    <a href="#ref-16-origin">↑ back</a>
  </li>
</ol>
