<ol>
  <li id="fn-1">
    Quinty, F., & Rochefort, L. (2003). <em>Peatland Restoration Guide, second edition.</em> Canadian Sphagnum Peat Moss Association and New Brunswick Department of Natural Resources and Energy. Québec, Québec.
    <a href="#ref-1-origin">↑ Assessment</a>
    <a href="#ref-1b-origin">↑ Assessment (pre-degraded conditions)</a>
    <a href="#ref-1c-origin">↑ Historical records</a>
    <a href="#ref-1d-origin">↑ Water quality</a>
    <a href="#ref-1e-origin">↑ Peat</a>
    <a href="#ref-1f-origin">↑ Seed bank</a>
    <a href="#ref-1g-origin">↑ Planning and design</a>
    <a href="#ref-1h-origin">↑ Goals and objectives</a>
    <a href="#ref-1i-origin">↑ Restoration plan</a>
    <a href="#ref-1j-origin">↑ Baseline monitoring</a>
  </li>
  <li id="fn-2">
    Schumann, M., & Joosten, H. (2008). <em>Global peatland restoration: A manual for policy makers and site managers.</em> Institute of Botany and Landscape Ecology, University of Greifswald.
    <a href="#ref-2-origin">↑ Assessment</a>
    <a href="#ref-2b-origin">↑ Historical records</a>
    <a href="#ref-2c-origin">↑ Current conditions</a>
    <a href="#ref-2d-origin">↑ Hydrology</a>
  </li>
  <li id="fn-3">
    Birks, H. J. B. (2008). Paleoecology. In <em>Encyclopedia of Ecology</em> (pp. 2623–2634). Elsevier. https://doi.org/10.1016/B978-008045405-4.00525-5
    <a href="#ref-3-origin">↑ Pre-degradation conditions</a>
  </li>
  <li id="fn-4">
    Gann, G.D., McDonald, T., Walder, B., Aronson, J., Nelson, C.R., et al. (2019). International principles and standards for the practice of ecological restoration. Second edition. <em>Restoration Ecology</em> 27 (S1). https://doi.org/10.1111/rec.13035
    <a href="#ref-4-origin">↑ Historical records</a>
    <a href="#ref-4b-origin">↑ Planning and design</a>
    <a href="#ref-4c-origin">↑ Goals</a>
    <a href="#ref-4d-origin">↑ Reference model</a>
    <a href="#ref-4e-origin">↑ Restoration plan — adaptive management</a>
    <a href="#ref-4f-origin">↑ Baseline monitoring</a>
    <a href="#ref-4g-origin">↑ Monitoring — BACI</a>
    <a href="#ref-4h-origin">↑ Evaluation — 5-star</a>
    <a href="#ref-4i-origin">↑ Ongoing management</a>
    <a href="#ref-4j-origin">↑ Adaptive management</a>
  </li>
  <li id="fn-5">
    Gorham, E., & Rochefort, L. (2003). Peatland restoration: A brief assessment with special reference to Sphagnum bogs. <em>Wetlands Ecology and Management</em> 11(1): 109–119. https://doi.org/10.1023/A:1022065723511
    <a href="#ref-5-origin">↑ Pre-degradation conditions</a>
    <a href="#ref-5b-origin">↑ Hydrology (catchment area)</a>
    <a href="#ref-5c-origin">↑ Monitoring — long-term</a>
  </li>
  <li id="fn-6">
    Eiseltová, M. (2010). <em>Restoration of Lakes, Streams, Floodplains, and Bogs in Europe: Principles and Case Studies</em> (Vol. 3). Springer Netherlands. https://doi.org/10.1007/978-90-481-9265-6
    <a href="#ref-6-origin">↑ Pre-degradation conditions</a>
  </li>
  <li id="fn-7">
    Lamers, L. P. M., Vile, M. A., Grootjans, A. P., et al. (2015). Ecological restoration of rich fens in Europe and North America: From trial and error to an evidence-based approach. <em>Biological Reviews</em>, 90(1). https://doi.org/10.1111/Brv.12102
    <a href="#ref-7-origin">↑ Pre-degradation conditions</a>
    <a href="#ref-7b-origin">↑ Peat — internal eutrophication</a>
    <a href="#ref-7c-origin">↑ Goals and objectives</a>
  </li>
  <li id="fn-8">
    Convention on Wetlands. (2021). <em>Global guidelines for peatland rewetting and restoration.</em> Ramsar Technical Report No. 11. Gland, Switzerland: Secretariat of the Convention on Wetlands.
    <a href="#ref-8-origin">↑ Current conditions</a>
    <a href="#ref-8b-origin">↑ Hydrology (primary problem)</a>
    <a href="#ref-8c-origin">↑ Hydrology (water table)</a>
    <a href="#ref-8d-origin">↑ Hydrology (catchment area)</a>
    <a href="#ref-8e-origin">↑ Peat (nutrient-rich)</a>
    <a href="#ref-8f-origin">↑ Peat (fast-growing species)</a>
    <a href="#ref-8g-origin">↑ Vegetation (indicator species)</a>
    <a href="#ref-8h-origin">↑ Seed bank</a>
    <a href="#ref-8i-origin">↑ Stressors</a>
    <a href="#ref-8j-origin">↑ Stakeholder engagement</a>
    <a href="#ref-8k-origin">↑ Goals — consultation</a>
    <a href="#ref-8l-origin">↑ Goals — common themes</a>
    <a href="#ref-8m-origin">↑ Prioritisation</a>
    <a href="#ref-8n-origin">↑ Monitoring</a>
    <a href="#ref-8o-origin">↑ Monitoring (robust plan)</a>
    <a href="#ref-8p-origin">↑ Monitoring (funds)</a>
    <a href="#ref-8q-origin">↑ Treatment monitoring</a>
    <a href="#ref-8r-origin">↑ Monitoring considerations</a>
    <a href="#ref-8s-origin">↑ Evaluation</a>
    <a href="#ref-8t-origin">↑ Water control structures</a>
    <a href="#ref-8u-origin">↑ Passive restoration</a>
  </li>
  <li id="fn-9">
    Minayeva, T. Yu., Bragg, O. M., Sirin, A. A. (2017). Towards ecosystem-based restoration of peatland biodiversity. <em>Mires and Peat</em>, 19, 01. https://doi.org/10.19189/MAP.2013.OMB.150
    <a href="#ref-9-origin">↑ Current conditions</a>
  </li>
  <li id="fn-10">
    Pakalne, M., Etzold, J., Ilomets, M., et al. (2021). <em>Best Practice Book for Peatland Restoration and Climate Change Mitigation — Experiences from LIFE Peat Restore Project.</em>
    <a href="#ref-10-origin">↑ Hydrology (water table)</a>
    <a href="#ref-10b-origin">↑ Stakeholder engagement — case study</a>
    <a href="#ref-10c-origin">↑ Monitoring design</a>
  </li>
  <li id="fn-11">
    Similä, M., Aapala, K., & Penttinen, J. (2014). <em>Ecological restoration in drained peatlands: Best practices from Finland.</em> Metsähallitus Natural Heritage Services.
    <a href="#ref-11-origin">↑ Hydrology (catchment area)</a>
    <a href="#ref-11b-origin">↑ Prioritisation</a>
  </li>
  <li id="fn-12">
    Parish, F., Sirin, A., Charman, D., Joosten, H., Minayeva, T., Silvius, M., & Stringer, L. (2008). <em>Assessment on Peatlands, Biodiversity and Climate Change: Main Report.</em> Global Environment Centre and Wetlands International.
    <a href="#ref-12-origin">↑ Water quality</a>
  </li>
  <li id="fn-13">
    Thom, T., Hanlon, A., Lindsay, R., Richards, J., Stoneman, R., & Brooks, S. (2019). <em>Conserving Bogs: The Management Handbook.</em> IUCN UK Peatland Programme.
    <a href="#ref-13-origin">↑ Peat (parameters)</a>
    <a href="#ref-13b-origin">↑ Monitoring</a>
  </li>
  <li id="fn-14">
    Bufkova, I., Krenova, Z., & Bastl, M. (2021). Ten years of changes in hydrology and vegetation in montane mires of temperate zone in Central Europe (Šumava National Park). 27, 17–48.
    <a href="#ref-14-origin">↑ Vegetation (drier conditions)</a>
  </li>
  <li id="fn-15">
    Dajdok, Z., Nowak, A., Danielewicz, W., Kujawa, P.-J., & Bena, W. (2011). Invasive Alien Species Fact Sheet <em>Spiraea tomentosa.</em> NOBANIS.
    <a href="#ref-15-origin">↑ Vegetation — invasive species</a>
  </li>
  <li id="fn-16">
    Bonnett, S. A. F., Ross, S., Linstead, C., & Maltby, E. (2009). <em>A review of techniques for monitoring the success of peatland restoration.</em> Natural England Commissioned Report, NECR086. Natural England.
    <a href="#ref-16-origin">↑ Von Post scale</a>
    <a href="#ref-16b-origin">↑ Monitoring (robust plan)</a>
    <a href="#ref-16c-origin">↑ Monitoring — parameters</a>
    <a href="#ref-16d-origin">↑ Monitoring — replicates</a>
  </li>
  <li id="fn-17">
    Mackin, F., Barr, A., Rath, P., et al. (2017). <em>Best practice in raised bog restoration in Ireland.</em> Irish Wildlife Manuals. National Parks and Wildlife Service.
    <a href="#ref-17-origin">↑ Goals — objectives</a>
    <a href="#ref-17b-origin">↑ Goals — consultation</a>
  </li>
  <li id="fn-18">
    Herb, A. M., & Finlayson, C. M. (2023). Investing in wetland restoration: Practical guidance and looking ahead. In P. A. Gell, N. C. Davidson, & C. M. Finlayson (Eds.), <em>Ramsar Wetlands</em> (pp. 377–415). Elsevier. https://doi.org/10.1016/B978-0-12-817803-4.00004-8
    <a href="#ref-18-origin">↑ back</a>
  </li>
  <li id="fn-19">
    Mackin, F., Barr, A., Rath, P., et al. (2017). <em>Best practice in raised bog restoration in Ireland.</em> Irish Wildlife Manuals. National Parks and Wildlife Service.
    <a href="#ref-19-origin">↑ Planning and design</a>
    <a href="#ref-19b-origin">↑ Restoration plan</a>
    <a href="#ref-19c-origin">↑ Restoration plan (living document)</a>
  </li>
  <li id="fn-20">
    Nelson, C.R., Hallett, J.G., Romero Montoya, A.E., et al. (2024). <em>Standards of practice to guide ecosystem restoration.</em> FAO; SER; IUCN. https://doi.org/10.4060/cc9106en
    <a href="#ref-20-origin">↑ Monitoring</a>
    <a href="#ref-20b-origin">↑ Monitoring design (goals)</a>
    <a href="#ref-20c-origin">↑ Monitoring design (protocols)</a>
    <a href="#ref-20d-origin">↑ Monitoring design (long-term)</a>
    <a href="#ref-20e-origin">↑ Monitoring — BACI</a>
    <a href="#ref-20f-origin">↑ Data collection</a>
    <a href="#ref-20g-origin">↑ Data management</a>
    <a href="#ref-20h-origin">↑ Evaluation</a>
  </li>
  <li id="fn-21">
    Food and Agriculture Organization (FAO) (2020).<em>Peatlands mapping and monitoring – Recommendations and technical overview.</em>Rome. DOI: 10.4060/ca8200en
    <a href="#ref-21-origin">↑ Monitoring — parameters (resources)</a>
  </li>
  <li id="fn-22">
    Šefferová Stanová, V. (2025). Mires: bogs and fens. In: C. Olmeda & V. Šefferová Stanová (eds.), <em>Technical guidelines for assessing and monitoring the condition of Annex I habitat types of the Directive 92/43/EEC.</em> Luxembourg: Publications Office of the European Union. https://doi.org/10.2779/2320274
    <a href="#ref-22-origin">↑ Monitoring — parameters (protocols)</a>
    <a href="#ref-22b-origin">↑ Monitoring — table</a>
    <a href="#ref-22c-origin">↑ Monitoring considerations</a>
    <a href="#ref-22d-origin">↑ Evaluation</a>
  </li>
  <li id="fn-23">
    Sundberg, S. (2012). Quick target vegetation recovery after restorative shrub removal and mowing in a calcareous fen. <em>Restoration Ecology</em> 20(3): 331–338. https://doi.org/10.1111/j.1526-100X.2011.00782.x
    <a href="#ref-23-origin">↑ Preventative maintenance — shrub removal</a>
  </li>
  <li id="fn-24">
    Aapala, K., & Similä, M. (2013). <em>Handbook for the restoration of drained peatlands.</em> Nature Protection Publications of Metsähallitus. Series B 188. Metsähallitus, Natural Heritage Services, Vantaa.
    <a href="#ref-24-origin">↑ Preventative maintenance — seedlings</a>
    <a href="#ref-24b-origin">↑ Adaptive management — example</a>
  </li>
  <li id="fn-25">
    Kotowski, W., Jabłońska, E., & Bartoszuk, H. (2013). Conservation management in fens: Do large tracked mowers impact functional plant diversity? <em>Biological Conservation</em> 167: 292–297. https://doi.org/10.1016/j.biocon.2013.08.021
    <a href="#ref-25-origin">↑ Preventative maintenance — mowing</a>
  </li>
</ol>
