<ol>
  <li id="fn-1">
    Joosten, H. & Clarke, D. (2002). <em>Wise use of mires and peatlands. Background and principles including a framework for decision-making.</em>
    International Mire Conservation Group / International Peat Society.
    <a href="#ref-1-origin">↑ Wetlands</a>
    <a href="#ref-1b-origin">↑ Peat and peatlands</a>
    <a href="#ref-1c-origin">↑ Climate stabilisation</a>
  </li>
  <li id="fn-2">
    Ramsar Convention Secretariat (2016). <em>An Introduction to the Ramsar Convention on Wetlands.</em> 7th ed. Ramsar Convention Secretariat, Gland, Switzerland.
    <a href="#ref-2-origin">↑ Wetlands</a>
    <a href="#ref-2b-origin">↑ Climate stabilisation</a>
  </li>
  <li id="fn-3">
    IPCC (2019). <em>Refinement to the 2006 IPCC Guidelines for National Greenhouse Gas Inventories, Calvo Buendia, E., Tanabe, K., Kranjc, A., Baasansuren, J., Fukuda, M., Ngarize, S., Osako, A., Pyrozhenko, Y., Shermanau, P., & Federici, S. (eds). </em>IPCC, Switzerland.
    <a href="#ref-3-origin">↑ back</a>
  </li>
  <li id="fn-4">
   Lourenco M., J.M. Fitchett, S. Woodborne (2023). <em>Peat definitions: a critical review. </em>Prog. Phys. Geogr. Earth Environ., 47 (4), pp. 506_520, 10.1177/03091333221118353.
    <a href="#ref-4-origin">↑ back</a>
  </li>
  <li id="fn-5">
   Intergovernmental Panel on Climate Change IPCC (2014). <em>Switzerland, Intergovernmental Panel on Climate Change. </em>2013 Supplement to the 2006 IPCC Guidelines for National Greenhouse Gas Inventories: Wetlands. Geneva. Available from: https://www.ipcc-nggip.iges.or.jp/public/wetlands/pdf/Wetlands_Supplement_Entire_Report.pdf (accessed 28 September 2021).
    <a href="#ref-5-origin">↑ back</a>
  </li>
 <li id="fn-6">
   Food and Agriculture Organization (FAO) (2020). <em>Peatlands mapping and monitoring. Recommendations and technical overview. </em>Rome. DOI: 10.4060/ca8200en
    <a href="#ref-6-origin">↑ back</a>
  </li>
 <li id="fn-7">
   Rydin, H., & Jeglum, J. K. (2013). <em>The biology of peatlands (2nd ed.). </em>Oxford University Press.
    <a href="#ref-7-origin">↑ Classifying mires and peatlands</a>
    <a href="#ref-7b-origin">↑ Why peatland restoration</a>
  </li>
  <li id="fn-8">
   Bonnett, S. A. F., Ross, S., Linstead, C., & Maltby, E. (2009). <em>A review of techniques for monitoring the success of peatland restoration. </em>Natural England Commissioned Report, NECR086. Natural England.
    <a href="#ref-8-origin">↑ back</a>
  </li>
  <li id="fn-9">
   Schumann, M., & Joosten, H. (2008). <em>Global peatland restoration: A manual for policy makers and site managers. </em>Institute of Botany and Landscape Ecology, University of Greifswald.
    <a href="#ref-9-origin">↑ back</a>
  </li>
 <li id="fn-10">
   Greifswald Mire Centre (GMC) (2019). <em>Briefing Paper on the role of peatlands in the new  European Unions Common Agriculture Policy (CAP). </em>Briefing Paper on the role of peatlands in the new European Unions Common Agriculture Policy (CAP)
    <a href="#ref-10-origin">↑ Why peatland restoration</a>
    <a href="#ref-10b-origin">↑ Common Agricultural Policy</a>
  </li>
 <li id="fn-11">
   Dunn, C., & Freeman, C. (2011). <em>Peatlands: Our greatest source of carbon credits? </em>Carbon Management, 2(3), 289_301. https://doi.org/10.4155/cmt.11.23
    <a href="#ref-11-origin">↑ back</a>
  </li>
  <li id="fn-12">
   Sommer P., Lakner S., Anke N., Tanneberger F. & Wegmann J. (2024). <em>Deriving a justified budget for peatland rewetting. Applying the German coal phase-out as a blueprint. </em>Land Use Policy. 147. 10.1016/j.landusepol.2024.107363.
    <a href="#ref-12-origin">↑ back</a>
  </li>
  <li id="fn-13">
   Leifeld J., Wüst-Galley C., Page S. (2019). <em> Intact and managed peatland soils as a source and sink of GHGs from 1850 to 2100. </em>Nat. Clim. Chang. 9 (12), 945_947.
    <a href="#ref-13-origin">↑ back</a>
  </li>
 <li id="fn-14">
   Janssen, J. A. M., Rodwell, J. S., Garcia Criado, M., Arts, G. H. P., Bijlsma, R. J., & Schaminee, J. H. J. (2016). <em>European Red List of Habitats: Part 2. Terrestrial and freshwater habitats. European Union. </em>https://doi.org/10.2779/091372
    <a href="#ref-14-origin">↑ back</a>
  </li>
   <li id="fn-16">
   Peters, J., Kaiser, M., Schoten, Harm, Škunca, Marina & Mróz, Wojciech (2024). <em>Policy Brief: New Developments in European Peatland Strategies. </em>Policy brief: "New Developments in European Peatland Strategies"
    <a href="#ref-16-origin">↑ Political Landscape</a>
    <a href="#ref-16b-origin">↑ Carbon Removals and Carbon Farming</a>
  </li>
   <li id="fn-17">
   Evans, D. (2010). <em>Interpreting the habitats of Annex I: past, present and future. </em>Acta Botanica Gallica, 157(4), 677–686. https://doi.org/10.1080/12538078.2010.10516241
    <a href="#ref-17-origin">↑ back</a>
  </li>
   <li id="fn-18">
   Joosten, H., Tanneberger, F., & Moen, A. (Eds.). (2017). <em>Mires and peatlands of Europe: Status, distribution and conservation. </em>Schweizerbart Science Publishers.
    <a href="#ref-18-origin">↑ back</a>
  </li>
   <li id="fn-19">
   Tanneberger, F., Moen, A., Barthelmes, A., Lewis, E., Miles, L., Sirin, A., Tegetmeyer, C., & Joosten, H. (2021). <em>Mires in Europe Regional diversity, condition and protection. </em>Diversity, 13(8), 381. https://doi.org/10.3390/d13080381
    <a href="#ref-19-origin">↑ back</a>
  </li>
   <li id="fn-20">
   Šefferová Stanová, V. (2025). <em>Mires: bogs and fens. In: C. Olmeda & V. Šefferová Stanová (eds.), Technical guidelines for assessing and monitoring the condition of Annex I habitat types of the Directive 92/43/EEC. </em>Luxembourg: Publications Office of the European Union, ISBN 978-92-68-32008-2. https://doi.org/10.2779/2320274
    <a href="#ref-20-origin">↑ back</a>
  </li>
   <li id="fn-21">
   ALFAwetlands (2024). <em>Policy Brief. Restoring wetlands in Europe. </em>English_Policy-Brief_incl.-all-CFS_online_komp_corrected.pdf
    <a href="#ref-21-origin">↑ NRR — habitat targets</a>
    <a href="#ref-21b-origin">↑ NRR — peatland targets</a>
  </li>
   <li id="fn-22">
   ELO (European Landowners Organisation) (2025). <em>Farming (in) Peatlands. </em>https://www.euki.de/peatland-manuals-and-dialogue-for-climate-action/
    <a href="#ref-22-origin">↑ back</a>
  </li>
   <li id="fn-23">
   Wichmann, S. (2026). <em>Funding for peatlands and paludiculture within and beyond the EU CAP 2023-2027. </em>EU Horizon Project Socio-economic and Climate and Environmental Aspects of Paludiculture (Paludi4All). Paludi4All Deliverable 4.1., Version 1, 77 pp.
    <a href="#ref-23-origin">↑ back</a>
  </li>
   <li id="fn-24">
   European Environment Agency (EEA) (2019). <em>The European environment – State and outlook 2020. Knowledge for transition to a sustainable Europe </em>Publications Office, https://data.europa.eu/doi/10.2800/96749 
    <a href="#ref-24-origin">↑ back</a>
  </li>
   <li id="fn-25">
   Wetlands International (2026). <em>Wetlands in the Carbon Removals and Carbon Farming regulation. Where we are and what comes next. </em>Available online: Wetlands in the Carbon Removals and Carbon Farming regulation_Wetlands International Europe 
    <a href="#ref-25-origin">↑ back</a>
  </li>
</ol>