<ol>
  <li id="fn-1">
    Quinty, F., & Rochefort, L. (2003). <em>Peatland Restoration Guide, second edition.</em> Canadian Sphagnum Peat Moss Association and New Brunswick Department of Natural Resources and Energy. Québec, Québec.
    <a href="#ref-1-origin">↑ Planning and design</a>
    <a href="#ref-1b-origin">↑ Goals and objectives</a>
    <a href="#ref-1c-origin">↑ Restoration plan</a>
    <a href="#ref-1d-origin">↑ Baseline monitoring</a>
  </li>
  <li id="fn-2">
    Gann, G.D., McDonald, T., Walder, B., Aronson, J., Nelson, C.R., et al. (2019). International principles and standards for the practice of ecological restoration. Second edition. <em>Restoration Ecology</em> 27 (S1). https://doi.org/10.1111/rec.13035
    <a href="#ref-2-origin">↑ Planning and design</a>
    <a href="#ref-2b-origin">↑ Goals</a>
    <a href="#ref-2c-origin">↑ Reference model</a>
    <a href="#ref-2d-origin">↑ Restoration plan — adaptive management</a>
    <a href="#ref-2e-origin">↑ Baseline monitoring</a>
  </li>
  <li id="fn-3">
    Lamers, L. P. M., Vile, M. A., Grootjans, A. P., et al. (2015). Ecological restoration of rich fens in Europe and North America: From trial and error to an evidence-based approach. <em>Biological Reviews</em>, 90(1). https://doi.org/10.1111/Brv.12102
    <a href="#ref-3-origin">↑ Goals and objectives</a>
  </li>
  <li id="fn-4">
    Convention on Wetlands. (2021). <em>Global guidelines for peatland rewetting and restoration.</em> Ramsar Technical Report No. 11. Gland, Switzerland: Secretariat of the Convention on Wetlands.
    <a href="#ref-4-origin">↑ Stakeholder engagement</a>
    <a href="#ref-4b-origin">↑ Goals — consultation</a>
    <a href="#ref-4c-origin">↑ Goals — common themes</a>
    <a href="#ref-4d-origin">↑ Prioritisation</a>
  </li>
  <li id="fn-5">
    Pakalne, M., Etzold, J., Ilomets, M., et al. (2021). <em>Best Practice Book for Peatland Restoration and Climate Change Mitigation — Experiences from LIFE Peat Restore Project.</em>
    <a href="#ref-5-origin">↑ Stakeholder engagement — case study</a>
  </li>
  <li id="fn-6">
    Similä, M., Aapala, K., & Penttinen, J. (2014). <em>Ecological restoration in drained peatlands: Best practices from Finland.</em> Metsähallitus Natural Heritage Services.
    <a href="#ref-6-origin">↑ Prioritisation</a>
  </li>
  <li id="fn-7">
    Mackin, F., Barr, A., Rath, P., et al. (2017). <em>Best practice in raised bog restoration in Ireland.</em> Irish Wildlife Manuals. National Parks and Wildlife Service.
    <a href="#ref-7-origin">↑ Planning and design</a>
    <a href="#ref-7b-origin">↑ Restoration plan</a>
  </li>
  <li id="fn-8">
    Herb A. M. & Finlayson C. M. (2023).<em>Investing in wetland restoration: Practical guidance and looking ahead.</em>In P. A. Gell, N. C. Davidson, & C. M. Finlayson (Eds.), Ramsar Wetlands (pp. 377–415). Elsevier. https://doi.org/10.1016/B978-0-12-817803-4.00004-8 
    <a href="#ref-8-origin">↑ back</a>
    <a href="#ref-8b-origin">↑ Goals</a>
  </li>
  <li id="fn-9">
    Aapala, K., & Similä, M. (2013). <em>Handbook for the restoration of drained peatlands.</em> Nature Protection Publications of Metsähallitus. Series B 188. Metsähallitus, Natural Heritage Services, Vantaa.
    <a href="#ref-9-origin">↑ back</a>
  </li>
</ol>
